#home {
  width: 80%;
  height: 90vh;
  margin: auto;
}

#home-flexbox {
  height: 100%;
}

#home-intro {
  text-align: center;
  align-self: center;
}


@media screen and (max-width: 700px) {
  #home {
    position: relative;
    left: 1em;
  }
}
