#navbar {
  width: 100vw;
  height: 4em;
  position: sticky;
  top: 0;
  background-color: #012738;
  padding-top: 1.2em;
  font-family: 'Fugaz One', cursive;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navlink {
  padding: 1em 1.5em;
}

.navlink:hover, .navlink.active {
  background-color: #6a66e0;
}

.navlink, .navlink:active, .navlink:visited {
  text-decoration: none;
  color: whitesmoke;
}


@media screen and (max-width: 700px) {
  #navbar {
    position: fixed;
    width: 4em;
    height: 100vh;
  }

  #navbar ul {
    flex-direction: column;
    height: 100%;
  }

  .navlink {
    padding: 0;
    font-size: 0.8rem;
  }
}

